---
import type { Locale, Dictionary } from "@/i18n/dictionaries";
import JSIcon from "./icons/JSIcon.astro";
import PHPIcon from "./icons/PHPIcon.astro";
import DBIcon from "./icons/DBIcon.astro";

interface Props {
    lang: Locale;
    dictionary: Dictionary;
}

const { lang, dictionary } = Astro.props;

const LANGUAGES = ["js", "ts", "php"] as const;
const BACK_FRAMEWORKS = ["nodejs", "laravel", "symfony"] as const;
const FRONT_FRAMEWORKS = ["react", "vue"] as const;
const OTHERS = ["db", "devops", "aws"] as const;

type Language = (typeof LANGUAGES)[number];
type Skill =
    | (typeof BACK_FRAMEWORKS)[number]
    | (typeof FRONT_FRAMEWORKS)[number]
    | (typeof OTHERS)[number];

interface Lib {
    lib: string;
    href: string;
}

interface SkillDescription {
    icons: Array<{ src: string; alt: string }>;
    experience?: number;
    ecosystem: Array<Lib>;
    language?: "js" | "php";
}

interface LanguageDescription {
    icons: Array<{ src: string; alt: string }>;
}

const LANGUAGE_DATA: Record<Language, LanguageDescription> = {
    php: { icons: [{ src: "/images/php.svg", alt: "PHP Logo" }] },
    js: { icons: [{ src: "/images/js.svg", alt: "JavaScript Logo" }] },
    ts: { icons: [{ src: "/images/ts.svg", alt: "TypeScript Logo" }] },
};

const SKILLS_DATA: Record<Skill, SkillDescription> = {
    nodejs: {
        icons: [{ src: "/images/node-js.svg", alt: "Node.js Logo" }],
        experience: 3,
        ecosystem: [
            { lib: "Express", href: "https://expressjs.com/" },
            { lib: "Zod", href: "https://zod.dev/" },
            { lib: "Sequelize", href: "https://sequelize.org/" },
            { lib: "Strapi", href: "https://strapi.io/" },
        ],
        language: "js",
    },
    react: {
        icons: [{ src: "/images/react.svg", alt: "React Logo" }],
        experience: 3,
        ecosystem: [
            { lib: "Next.js", href: "https://nextjs.org/" },
            { lib: "Plotly", href: "https://plotly.com/graphing-libraries/" },
            { lib: "Tailwind CSS", href: "https://tailwindcss.com/" },
            { lib: "Material UI", href: "https://mui.com/material-ui/" },
            {
                lib: "TanStack Query",
                href: "https://tanstack.com/query/latest",
            },
        ],
        language: "js",
    },
    laravel: {
        icons: [{ src: "/images/laravel.svg", alt: "Laravel Logo" }],
        experience: 2,
        ecosystem: [{ lib: "Laravel Nova", href: "https://nova.laravel.com/" }],
        language: "php",
    },
    db: {
        icons: [
            { src: "/images/mysql.svg", alt: "MySQL Logo" },
            { src: "/images/postgresql.svg", alt: "PostgreSQL Logo" },
        ],
        ecosystem: [
            { lib: "MySQL", href: "https://www.mysql.com/" },
            { lib: "PostgreSQL", href: "https://www.postgresql.org/" },
        ],
    },
    devops: {
        icons: [
            { src: "/images/docker.svg", alt: "Docker Logo" },
            { src: "/images/gitlab.svg", alt: "Gitlab Logo" },
        ],
        ecosystem: [
            { lib: "Docker", href: "https://www.docker.com/" },
            { lib: "Gitlab CI/CD", href: "https://about.gitlab.com/" },
        ],
    },
    symfony: {
        icons: [{ src: "/images/symfony.svg", alt: "Symfony Logo" }],
        experience: 1,
        ecosystem: [
            { lib: "API Platform", href: "https://api-platform.com/" },
            { lib: "Twig", href: "https://twig.symfony.com/" },
        ],
        language: "php",
    },
    vue: {
        icons: [{ src: "/images/vue.svg", alt: "Vue Logo" }],
        experience: 2,
        ecosystem: [{ lib: "Nuxt", href: "https://nuxt.com/" }],
        language: "js",
    },
    aws: {
        icons: [{ src: "/images/aws.svg", alt: "AWS Logo" }],
        ecosystem: [
            { lib: "Lambda", href: "https://aws.amazon.com/lambda/" },
            { lib: "DynamoDB", href: "https://aws.amazon.com/dynamodb/" },
            { lib: "S3", href: "https://aws.amazon.com/s3/" },
            { lib: "CloudWatch", href: "https://aws.amazon.com/cloudwatch/" },
        ],
    },
};
---

<div>
    <!-- Languages Section -->
    <div class="flex items-baseline mt-4">
        <p class="font-hero text-2xl md=text-3xl ps-2 me-1 text-teal-500">_</p>
        <h2 class="font-hero font-light text-2xl md=text-3xl uppercase">
            {dictionary.skills.languages}
        </h2>
    </div>
    <div
        class="mt-2 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-4 lg:gap-6 mb-12"
    >
        {
            LANGUAGES.map((language) => (
                <div class="bg-white text-center border border-gray-100 rounded-lg relative shadow-lg shadow-gray-300/50 hover:shadow-md transition-all ease-in-out">
                    <div class="px-3 mt-2 sm:mt-3 sm:px-5 py-1 sm:py-2 flex justify-center items-center">
                        {LANGUAGE_DATA[language].icons.map((icon) => (
                            <img
                                src={icon.src}
                                alt={icon.alt}
                                class="block h-10 w-auto"
                            />
                        ))}
                    </div>
                    <p class="pb-2 sm:pb-3 pt-1 text-xl">
                        {dictionary.skills[language]}
                    </p>
                </div>
            ))
        }
    </div>

    <!-- Frameworks Section -->
    <div class="flex items-baseline mt-4">
        <p class="font-hero text-2xl md=text-3xl ps-2 me-1 text-teal-500">_</p>
        <h2 class="font-hero font-light text-2xl md=text-3xl uppercase">
            Frameworks
        </h2>
    </div>

    <h4
        class="font-light text-lg ms-7 mt-3 mb-2 text-zinc-500 leading-3 inline-flex"
    >
        Back
    </h4>
    <div
        class="mt-1 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-4 lg:gap-6 mb-2"
    >
        {
            BACK_FRAMEWORKS.map((skill) => {
                const skillItem = SKILLS_DATA[skill];
                return (
                    <div class="group text-center border border-gray-100 rounded-lg bg-white relative shadow-lg shadow-gray-300/50 hover:shadow-md transition-all ease-in-out overflow-hidden">
                        {skillItem.language === "js" && (
                            <JSIcon class="fill-gray-300 absolute w-6 h-6 right-3 top-3 sm:right-4" />
                        )}
                        {skillItem.language === "php" && (
                            <PHPIcon class="fill-gray-300 absolute w-6 h-6 right-3 top-3 sm:right-4" />
                        )}
                        <div class="pt-3 bg-gray-50 px-3 sm:px-5 py-1 flex justify-center items-center">
                            {skillItem.icons.map((icon) => (
                                <img
                                    src={icon.src}
                                    alt={icon.alt}
                                    class="block mx-1 h-10 w-auto contrast-75 group-hover:contrast-100 transition-all ease-in-out"
                                />
                            ))}
                        </div>
                        <p
                            class={`px-3 bg-gray-50 sm:px-5 pt-1 text-xl ${skillItem.experience ? "font-black" : "font-bold"}`}
                        >
                            {dictionary.skills[skill]}
                        </p>
                        <div class="bg-gray-50 px-3 sm:px-5 flex items-baseline justify-center pt-1 pb-3 border-b">
                            {skillItem.experience && (
                                <Fragment>
                                    <p class="text-xs text-gray-600">
                                        {dictionary.skills.experience}:
                                    </p>
                                    <p class="text-sm font-bold ms-1">
                                        {skillItem.experience}{" "}
                                        {
                                            dictionary.commons[
                                                skillItem.experience > 1
                                                    ? "years"
                                                    : "year"
                                            ]
                                        }
                                    </p>
                                </Fragment>
                            )}
                        </div>
                        <div class="px-3 sm:px-5 pt-4 pb-3 text-start text-xs flex flex-wrap bg-white">
                            {skillItem.ecosystem.map((item) => (
                                <a
                                    href={item.href}
                                    rel="noopener noreferrer"
                                    target="_blank"
                                    class="block me-2 mb-1.5 py-0.5 px-2 text-gray-500 rounded-full border bg-gray-50 border-gray-100 hover:border hover:border-gray-300 hover:text-gray-600 hover:bg-gray-100 transition-all ease-in-out"
                                >
                                    {item.lib}
                                </a>
                            ))}
                        </div>
                    </div>
                );
            })
        }
    </div>

    <h4
        class="font-light text-lg ms-7 mt-3 mb-2 text-zinc-500 leading-3 inline-flex"
    >
        Front
    </h4>
    <div
        class="mt-1 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-4 lg:gap-6 mb-12"
    >
        {
            FRONT_FRAMEWORKS.map((skill) => {
                const skillItem = SKILLS_DATA[skill];
                return (
                    <div class="group text-center border border-gray-100 rounded-lg bg-white relative shadow-lg shadow-gray-300/50 hover:shadow-md transition-all ease-in-out overflow-hidden">
                        {skillItem.language === "js" && (
                            <JSIcon class="fill-gray-300 absolute w-6 h-6 right-3 top-3 sm:right-4" />
                        )}
                        {skillItem.language === "php" && (
                            <PHPIcon class="fill-gray-300 absolute w-6 h-6 right-3 top-3 sm:right-4" />
                        )}
                        <div class="pt-3 bg-gray-50 px-3 sm:px-5 py-1 flex justify-center items-center">
                            {skillItem.icons.map((icon) => (
                                <img
                                    src={icon.src}
                                    alt={icon.alt}
                                    class="block mx-1 h-10 w-auto contrast-75 group-hover:contrast-100 transition-all ease-in-out"
                                />
                            ))}
                        </div>
                        <p
                            class={`px-3 bg-gray-50 sm:px-5 pt-1 text-xl ${skillItem.experience ? "font-black" : "font-bold"}`}
                        >
                            {dictionary.skills[skill]}
                        </p>
                        <div class="bg-gray-50 px-3 sm:px-5 flex items-baseline justify-center pt-1 pb-3 border-b">
                            {skillItem.experience && (
                                <Fragment>
                                    <p class="text-xs text-gray-600">
                                        {dictionary.skills.experience}:
                                    </p>
                                    <p class="text-sm font-bold ms-1">
                                        {skillItem.experience}{" "}
                                        {
                                            dictionary.commons[
                                                skillItem.experience > 1
                                                    ? "years"
                                                    : "year"
                                            ]
                                        }
                                    </p>
                                </Fragment>
                            )}
                        </div>
                        <div class="px-3 sm:px-5 pt-4 pb-3 text-start text-xs flex flex-wrap bg-white">
                            {skillItem.ecosystem.map((item) => (
                                <a
                                    href={item.href}
                                    rel="noopener noreferrer"
                                    target="_blank"
                                    class="block me-2 mb-1.5 py-0.5 px-2 text-gray-500 rounded-full border bg-gray-50 border-gray-100 hover:border hover:border-gray-300 hover:text-gray-600 hover:bg-gray-100 transition-all ease-in-out"
                                >
                                    {item.lib}
                                </a>
                            ))}
                        </div>
                    </div>
                );
            })
        }
    </div>

    <!-- Others Section -->
    <div class="flex items-baseline mt-4">
        <p class="font-hero text-2xl md=text-3xl ps-2 me-1 text-teal-500">_</p>
        <h2 class="font-hero font-light text-2xl md=text-3xl uppercase">
            {dictionary.skills.others}
        </h2>
    </div>
    <div
        class="mt-2 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-4 lg:gap-6"
    >
        {
            OTHERS.map((skill) => {
                const skillItem = SKILLS_DATA[skill];
                return (
                    <div class="group text-center border border-gray-100 rounded-lg bg-white relative shadow-lg shadow-gray-300/50 hover:shadow-md transition-all ease-in-out overflow-hidden">
                        {skill === "db" && (
                            <DBIcon class="fill-gray-300 absolute w-6 h-6 right-3 top-3 sm:right-4" />
                        )}
                        <div class="pt-3 bg-gray-50 px-3 sm:px-5 py-1 flex justify-center items-center">
                            {skillItem.icons.map((icon) => (
                                <img
                                    src={icon.src}
                                    alt={icon.alt}
                                    class="block mx-1 h-10 w-auto contrast-75 group-hover:contrast-100 transition-all ease-in-out"
                                />
                            ))}
                        </div>
                        <p class="px-3 bg-gray-50 sm:px-5 pt-1 text-xl font-bold">
                            {dictionary.skills[skill]}
                        </p>
                        <div class="bg-gray-50 px-3 sm:px-5 flex items-baseline justify-center pt-1 pb-3 border-b" />
                        <div class="px-3 sm:px-5 pt-4 pb-3 text-start text-xs flex flex-wrap bg-white">
                            {skillItem.ecosystem.map((item) => (
                                <a
                                    href={item.href}
                                    rel="noopener noreferrer"
                                    target="_blank"
                                    class="block me-2 mb-1.5 py-0.5 px-2 text-gray-500 rounded-full border bg-gray-50 border-gray-100 hover:border hover:border-gray-300 hover:text-gray-600 hover:bg-gray-100 transition-all ease-in-out"
                                >
                                    {item.lib}
                                </a>
                            ))}
                        </div>
                    </div>
                );
            })
        }
    </div>
</div>
